 .icon-block {
   padding: 0 15px;
 }

 .icon-block .material-icons {
   font-size: inherit;
 }

 .waves-effect.waves-light .waves-ripple {
   background-color: rgba(0, 255, 255, 0.45);
 }

 /*button-group copiado de bootstrap*/

 .btn-group-lg>.btn, .btn-lg {
   padding: .5rem 1rem;
   font-size: 1.25rem;
   line-height: 1.5;
   border-radius: .3rem
 }

 .btn-group-sm>.btn, .btn-sm {
   padding: .25rem .5rem;
   font-size: .875rem;
   line-height: 1.5;
   border-radius: .2rem
 }

 /*.btn-group, .btn-group-vertical {
   position: relative;
   display: -ms-inline-flexbox;
   display: inline-flex;
   vertical-align: middle
 }

 .btn-group-vertical>.btn, .btn-group>.btn {
   position: relative;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto
 }*/

 .btn-group-vertical>.btn:hover, .btn-group>.btn:hover {
   z-index: 1
 }

 .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
   z-index: 1
 }

 /*.btn-toolbar {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -ms-flex-pack: start;
   justify-content: flex-start
 }

 .btn-toolbar .input-group {
   width: auto
 }*/

 .btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
   margin-left: -1px
 }

 .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0
 }

 .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0
 }

 .dropdown-toggle-split {
   padding-right: .5625rem;
   padding-left: .5625rem
 }

 .dropdown-toggle-split::after, .dropright .dropdown-toggle-split::after, .dropup .dropdown-toggle-split::after {
   margin-left: 0
 }

 .dropleft .dropdown-toggle-split::before {
   margin-right: 0
 }

 .btn-group-sm>.btn+.dropdown-toggle-split, .btn-sm+.dropdown-toggle-split {
   padding-right: .375rem;
   padding-left: .375rem
 }

 .btn-group-lg>.btn+.dropdown-toggle-split, .btn-lg+.dropdown-toggle-split {
   padding-right: .75rem;
   padding-left: .75rem
 }

 /*.btn-group-vertical {
   -ms-flex-direction: column;
   flex-direction: column;
   -ms-flex-align: start;
   align-items: flex-start;
   -ms-flex-pack: center;
   justify-content: center
 }*/

 .btn-group-vertical>.btn, .btn-group-vertical>.btn-group {
   width: 100%
 }

 .btn-group-vertical>.btn-group:not(:first-child), .btn-group-vertical>.btn:not(:first-child) {
   margin-top: -1px
 }

 .btn-group-vertical>.btn-group:not(:last-child)>.btn, .btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle) {
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0
 }

 .btn-group-vertical>.btn-group:not(:first-child)>.btn, .btn-group-vertical>.btn:not(:first-child) {
   border-top-left-radius: 0;
   border-top-right-radius: 0
 }

 .btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
   margin-bottom: 0
 }

 .btn-group-toggle>.btn input[type=checkbox], .btn-group-toggle>.btn input[type=radio], .btn-group-toggle>.btn-group>.btn input[type=checkbox], .btn-group-toggle>.btn-group>.btn input[type=radio] {
   /*position: absolute;*/
   clip: rect(0, 0, 0, 0);
   pointer-events: none
 }

 .btn-secondary {
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d
 }

 .btn-secondary:hover {
   color: #fff;
   background-color: #5a6268;
   border-color: #545b62
 }

 .btn-secondary.focus, .btn-secondary:focus {
   box-shadow: 0 0 0 .4rem rgba(130, 138, 145, .5)
 }

 .btn-secondary.disabled, .btn-secondary:disabled {
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d
 }

 .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
   color: #fff;
   background-color: #545b62;
   border-color: #4e555b
 }

 .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
   box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
 }

 /*override materialize */

 .btn-floating:hover {
   box-shadow: inset none !important;
 }

 .btn-primary {
   color: #fff;
 }

 .btn-primary:hover {
   color: #fff;
 }

 .btn-primary.focus, .btn-primary:focus {
   box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
 }

 .btn-primary.disabled, .btn-primary:disabled {
   color: #fff;
 }

 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
   color: #fff;
   /*background-color: #0062cc;
   border-color: #005cbf;*/
   box-shadow: 0 0 0 .4rem rgba(130, 138, 145, .5) !important;
 }

 .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
   box-shadow: 0 0 0 .2rem rgba(28, 42, 58, 0.5)
 }

 .chip {
  color: rgba(0, 0, 0, 0.7) !important;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}